In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from kneed import KneeLocator
from numpy import NaN

In [2]:
data = pd.read_excel('C:/Users/lucab/AAACODE/DATA/globalterrorismdb_0522dist.xlsx')

In [3]:
len(data)

209706

In [4]:
df=data.copy()

In [5]:
#mask=df['iyear']>=2000
#df=df[mask]

In [6]:
#df.dropna(subset='nkill',inplace=True)

In [7]:
deathprop = df['nkill'].apply(lambda x:1 if x !=0 else 0 )

In [8]:
deathprop.value_counts()

nkill
1    110356
0     99350
Name: count, dtype: int64

In [9]:
#df = df[df['nkill'] > 0]

In [10]:
df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaT,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaT,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaT,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaT,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaT,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209701,202012310015,2020,12,31,2020-12-31 00:00:00,0,NaT,228,Yemen,10,...,NaN,"""Al Houthi militia escalated in Hays and targe...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
209702,202012310016,2020,12,31,2020-12-31 00:00:00,0,NaT,228,Yemen,10,...,NaN,"""Al Houthi militia escalated in Hays and targe...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
209703,202012310017,2020,12,31,NaN,0,NaT,75,Germany,8,...,NaN,"""Far-left arson attack suspected on German asy...","""Fire of Bundeswehr vehicles in Leipzig, proba...","""Anarchist Antifa Take Credit for Arson Attack...",START Primary Collection,-9,-9,0,-9,NaN
209704,202012310018,2020,12,31,NaN,0,NaT,4,Afghanistan,6,...,NaN,"""Civil society activist and tribal elder kille...","""Terrorism Digest: 1-2 Jan 21,"" BBC Monitoring...",NaN,START Primary Collection,-9,-9,0,-9,NaN
209705,202012310019,2020,12,31,NaN,1,NaT,33,Burkina Faso,11,...,NaN,"""Terrorism Digest: 3-4 Jan 21,"" BBC Monitoring...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN

In [11]:
att_type_dum=pd.get_dummies(data=df['attacktype1_txt'],columns=['attacktype1_txt'],prefix='att',dtype=int)
weap_type_dum=pd.get_dummies(data=df['weaptype1_txt'],columns=['weaptype1_txt'],prefix='weap',dtype=int)
targ_type_dum=pd.get_dummies(data=df['targtype1_txt'],columns=['targtype1_txt'],prefix='targ',dtype=int)
region_dum = pd.get_dummies(data=df['region_txt'],columns='region_txt',prefix='reg',dtype=int,drop_first=True)

In [12]:
att_type_dum.drop(columns='att_Unknown',inplace=True)
weap_type_dum.drop(columns='weap_Unknown',inplace=True)
targ_type_dum.drop(columns='targ_Unknown',inplace=True)

In [13]:
#result_df = pd.DataFrame({'eventid':[]})

In [14]:
result_df = pd.concat([att_type_dum, weap_type_dum, targ_type_dum,region_dum], axis=1)

#result_df['eventid'] = data['eventid']

In [15]:
result_df['INT_MISC'] = data['INT_MISC']
result_df['INT_MISC'].replace(to_replace=-9,value=NaN,inplace=True)

C:\Users\lucab\AppData\Local\Temp\ipykernel_21856\1650900825.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_df['INT_MISC'].replace(to_replace=-9,value=NaN,inplace=True)

In [16]:
#result_df['nperps'] = data['nperps']
#result_df['nperps'].replace(to_replace=-99,value=NaN,inplace=True)
result_df['individual'] = data['individual']
result_df['multiple'] = data['multiple']
result_df['success'] = data['success']
result_df['suicide'] = data['suicide']
result_df['eventid'] = data['eventid']
result_df['country_txt'] = data['country_txt']
result_df['iyear'] = data['iyear']
result_df['gname'] = data['gname']
result_df['nkill'] = data['nkill']
#result_df['nwound'] = data['nwound']
result_df['motive'] = data['motive']
#result_df['ransom'] = data['ransom']
#result_df['property'] = data['property']
#result_df['property'].replace(to_replace=-9,value=NaN,inplace=True)
#result_df['attack_type'] = data['attacktype1_txt']
#result_df['weapon_type'] = data['weaptype1_txt']
#result_df['target_type'] = data['targtype1_txt']
#result_df['region'] = data['region_txt']

In [17]:
len(result_df)

209706

In [18]:
vdf = pd.read_csv("C:/Users/lucab/AAACODE/DATA/V-Dem-CY-Full+Others-v14.csv")

C:\Users\lucab\AppData\Local\Temp\ipykernel_21856\1701818874.py:1: DtypeWarning: Columns (364,365,366,399,415,804,836,837,924,1240,1257,1486,3094,3168,3169,3341,3342,3344,3345,3347,3350,3352) have mixed types. Specify dtype option on import or set low_memory=False.
  vdf = pd.read_csv("C:/Users/lucab/AAACODE/DATA/V-Dem-CY-Full+Others-v14.csv")

In [19]:
special = result_df
special_vdf = vdf

In [20]:
mask = special['country_txt'] == 'United States'
mask2 = special['country_txt'] == 'West Germany (FRG)' 
mask3= special['country_txt'] == 'East Germany (GDR)'
mask4= special['country_txt'] =='West Bank and Gaza Strip'
mask5= special['country_txt'] == 'Myanmar'
mask6 = special['country_txt'] == 'Dominica'
mask7 = special['country_txt']=='Bosnia-Herzegovina'
mask8 = special['country_txt'] == 'Macedonia'
mask9 = special['country_txt'] == 'Slovak Republic'
mask10 = special['country_txt']== 'Czech Republic'
mask11 = special['country_txt'] == 'Zaire'
mask12 = special['country_txt'] == 'Soviet Union'
mask13 = special['country_txt'] == "People's Republic of the Congo"
mask14 = special['country_txt'] == 'North Yemen'
mask15 = special['country_txt'] == 'Rhodesia'
mask16 = special['country_txt'] == 'Yugoslavia'
mask17 = special['country_txt'] == 'Serbia-Montenegro'
mask18 = special['country_txt'] == 'Swaziland'
mask19 = special['country_txt'] == 'Czechoslovakia'
mask20 = special['country_txt'] == 'East Timor'
mask21 = special_vdf['country_id'] == 99

In [21]:
special.loc[mask,'country_txt']='United States of America'
special.loc[mask2,'country_txt']='Germany'
special.loc[mask3,'country_txt']='Germany'
special.loc[mask4,'country_txt']='Palestine/West Bank'
special.loc[mask5,'country_txt']='Burma/Myanmar'
special.loc[mask6,'country_txt'] = 'Dominican Republic'
special.loc[mask7,'country_txt'] = 'Bosnia and Herzegovina'
special.loc[mask8,'country_txt'] = 'North Macedonia'
special.loc[mask9,'country_txt'] = 'Slovakia'
special.loc[mask10,'country_txt'] = 'Czechia'
special.loc[mask11,'country_txt'] = 'Republic of the Congo'
special.loc[mask12,'country_txt'] = 'Russia'
special.loc[mask13,'country_txt'] = 'Republic of the Congo'
special.loc[mask14,'country_txt'] = 'Yemen'
special.loc[mask15,'country_txt'] ='Zimbabwe'
special.loc[mask16,'country_txt'] ='Serbia'
special.loc[mask17,'country_txt'] ='Montenegro'
special.loc[mask18,'country_txt'] ='Eswatini'
special.loc[mask19,'country_txt'] = 'Czechia'
special.loc[mask20,'country_txt'] = 'Timor-Leste'
special_vdf.loc[mask21,'country_name'] = 'Turkey'

In [22]:
# Specify the added feature column names you want to merge from vdem_df
features_to_merge = ['v2x_ex_military', 'v2x_clphy', 'v2x_rule','v2cldiscw','v2clacfree','v2clsnlpct','v2dlencmps','v2elembcap','v2exhoshog']  # Replace these with your actual feature column names

# Adjust the merge to include only the specified added features along with the keys for merging
merged_df = pd.merge(special, special_vdf[['country_name', 'year'] + features_to_merge],
                     left_on=['country_txt', 'iyear'],
                     right_on=['country_name', 'year'],
                     how='left')

merged_df.drop(columns=['iyear','country_name'],axis=1,inplace=True)
merged_df['v2exhoshog'].isnull().sum()

211

In [23]:
for x in features_to_merge:
    print(merged_df[x].isnull().sum())

211
211
211
211
211
1025
211
216
211

In [24]:
merged_df.to_csv('t_dem.csv')